<mat-card>
  <mat-card-header>
    <mat-card-title>Generate Schedules By Medic</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form [formGroup]="form">
      <div class="fields">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusList" [value]="status">{{ status }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Start Date Time</mat-label>
          <input matInput formControlName="startDateTime" placeholder="dd/MM/yyyy HH:mm">
        </mat-form-field>
      </div>
      <div class="fields">
        <mat-form-field>
          <mat-label>End Date Time</mat-label>
          <input matInput formControlName="endDateTime" placeholder="dd/MM/yyyy HH:mm">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Step Minutes</mat-label>
          <input matInput formControlName="stepMinutes" placeholder="mm">
        </mat-form-field>
      </div>
      <div class="fields">
        <mat-form-field>
          <mat-label>Lunch Time</mat-label>
          <input matInput formControlName="lunchTime" placeholder="HH:mm">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Lunch Duration Minutes</mat-label>
          <input matInput formControlName="lunchDurationMinutes" placeholder="mm">
        </mat-form-field>
      </div>
    </mat-form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onGenerate()">Generate</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
