<mat-card>
  <mat-card-header>
    <mat-card-title>Create Schedule</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form [formGroup]="form">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Medic</mat-label>
        <mat-select formControlName="medicId">
          <mat-option *ngFor="let medic of medics" [value]="medic.id">{{ medic.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('status')?.invalid">{{getErrorMessage('status')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date Time</mat-label>
        <input matInput formControlName="dateTime" placeholder="dd/MM/yyyy HH:mm">
        <mat-error *ngIf="form.get('dateTime')?.invalid">{{getErrorMessage('dateTime')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusList" [value]="status">{{ status }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('status')?.invalid">{{getErrorMessage('status')}}</mat-error>
      </mat-form-field>
    </mat-form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
