<mat-card>
    <mat-card-content>
        <mat-toolbar color="secondary">Health Units</mat-toolbar>

        <div *ngIf="healthUnits$ | async as healthUnits; else loading">
            <mat-table [dataSource]="healthUnits" class="mat-elevation-z8">

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>>
                    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-mini-fab color="primary" (click)="onAdd()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>>

                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
            </mat-table>>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>