<mat-card>
  <mat-card-header>
    <mat-card-title>Create Schedule</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Identity</mat-label>
        <input matInput formControlName="identity">
      </mat-form-field>
    </mat-form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
